.note {
  background-color: #ffffff80;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1.25rem;
  width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
}
.note-title {
  font-family: "Syne", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.note-content {
  margin-top: 1rem;
}
.note-footer {
  opacity: 0;
}
.note:hover .note-footer {
  transition: opacity 150ms ease-in-out;
}

.note:hover .note-footer {
  opacity: 1;
}
.note-footer,
.note-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.note-footer {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #888;
}
.month-span {
  margin-right: 0.8rem;
}
.note-icon {
  width: 17px;
  background: transparent;
}
.note-btn {
  background: transparent;
  cursor: pointer;
}
.note-edit {
  width: 20px;
  margin-right: 10px;
}

@media screen and (max-width: 320px) {
  .note {
    width: 250px;
  }
}
@media screen and (max-width: 425px) {
  .note {
    min-height: 250px;
  }
}
