.form {
  background-color: #ffffff80;
  border-radius: 10px;
  position: relative;
  width: 45vw;
  margin: 3rem auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
input,
textarea {
  color: var(--acc-1);
  background-color: transparent;
  margin: 1rem;
  width: calc(100% - 2rem);
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2rem;
  font-family: inherit;
  resize: none;
}

.submit-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--acc-3);
  color: var(--acc-2);
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: -17.5px;
  right: 30px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form {
    width: 90vw;
  }
}
