.navbar {
  width: 100%;
  height: 4.25rem;
  background-color: var(--acc-3);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nav-body {
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header {
  color: var(--primary);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  font-family: "Syne", sans-serif;
}

@media screen and (max-width: 425px) {
  .navbar {
    height: 5rem;
  }
  .header {
    font-size: 2.5rem;
  }
}
